.Selection {
    width: 120px;
    height: 120px;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid white;
    transition: all .2s ease-in-out; 
}

.Selection:hover {
    transform: scale(2); 
}

.one {
    background-color: white;
    margin-left: 22%;
    margin-top: 12%;
}

.two {
    background-image: url('/src/images/Questions/1.jpg');
    width:80px;
    margin-left: 5%;
    margin-top: 10%;
}

.three {
    background-color: red;
    margin-left: 42%;
    margin-top: 13%;
}

.four {
    background-color: green;
    margin-left: 55%;
    margin-top: 20%;
}

.five {
    margin-left: 20%;
    margin-top: 22%;
    width: 140px;
}