
.Selection {
    width: 120px;
    height: 120px;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid white;
    transition: all .2s ease-in-out; 
}
h1 {
        display: block;
        font-size: 1.4em;
        font-weight: bold;
        padding: 1%;
}
.SIX {
    position: absolute;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid white;
    transition: all .2s ease-in-out;

    width: 35vw; height:5vh; margin-left: 5%; margin-top: 27%;
}

.SIX:hover {
    transform: scale(1.1); 
    border: 3px solid rgba(0,212,255,0.7);
}

.Selection:hover {
    transform: scale(1.5);
}

.Commencer {
    width: 65%;
    height: 75%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.Start {
    margin-left: 10vw;
    margin-top: 30vh;
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
    background-image: url("/src/images/Questions/start.gif");
}


.answerOne { margin-left: 25%; margin-top: 20%; }
.answerTwo { margin-left: 5%; margin-top: 10%; }
.answerThree { margin-left: 42%; margin-top: 13%; }
.answerFour { margin-left: 45%;margin-top: 30%; }
.answerFive { margin-left: 5%;margin-top: 30%; }

.Site {
    text-align: center;
    padding: 10px;
    width: 140px;
    height: auto;
    position: absolute;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(183,97,178,.7);
    margin-left: 1%; margin-top: 1%;
    transition: 1s;
}
.Site:hover {
    transform: scale(1.2); 
    background-color: rgba(0,212,255,0.7);
}

/* Start setting backgroung image*/
.question {
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
    border-radius: 20px;
  }
.Affiche {
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
    border-radius: 20px;
  }
.ImagesZero {background-image: url("/src/images/Questions/0_0.jpg");}
.ImagesOne {background-image: url("/src/images/Questions/1.jpg");}
.ImagesTwo {background-image: url("/src/images/Questions/2.jpg");}
.ImagesThree {background-image: url("/src/images/Questions/3.jpg");}
.ImagesFour {background-image: url("/src/images/Questions/4.jpg");}
.ImagesFive {background-image: url("/src/images/Questions/5.jpg");}
.ImagesSix {background-image: url("/src/images/Questions/6.jpg");}
.ImagesSeven {background-image: url("/src/images/Questions/7.jpg");}
.ImagesHeight {background-image: url("/src/images/Questions/8.jpg");}
.ImagesNine {background-image: url("/src/images/Questions/9.jpg");}
.ImagesTen {background-image: url("/src/images/Questions/10.jpg");}
.ImagesEleven {background-image: url("/src/images/Questions/11.jpg");}
.ImagesTwelve {background-image: url("/src/images/Questions/12.jpg");}
.ImagesThirteen {background-image: url("/src/images/Questions/13.jpg");}
.ImagesFourTeen {background-image: url("/src/images/Questions/Fin.jpg");}
/* End Setting question backgroung image*/


/* Start setting answers background images*/
.oneOne { background-image: url('/src/images/Questions/1_1.jpg'); }
.oneTwo { background-image: url('/src/images/Questions/1_2.jpg'); }
.oneThree { background-image: url('/src/images/Questions/1_3.jpg'); }
.oneFour { background-image: url('/src/images/Questions/1_4.jpg'); }

.twoOne { background-image: url('/src/images/Questions/2_1.jpg'); height: 150px;}
.twoTwo { background-image: url('/src/images/Questions/2_2.jpg'); height: 190px;}
.twoThree { background-image: url('/src/images/Questions/2_3.jpg'); height: 170px;}
.twoFour { background-image: url('/src/images/Questions/2_4.jpg'); }
.twoFive { background-image: url('/src/images/Questions/2_5.jpg'); }

.threeOne { background-image: url('/src/images/Questions/3_1.jpg');  width: 150px;}
.threeTwo { background-image: url('/src/images/Questions/3_2.jpg'); }
.threeThree { background-image: url('/src/images/Questions/3_3.jpg'); }
.threeFour { background-image: url('/src/images/Questions/3_4.jpg'); }

.fourOne { background-image: url('/src/images/Questions/4_1.jpg'); }
.fourTwo { background-image: url('/src/images/Questions/4_2.jpg'); }
.fourThree { background-image: url('/src/images/Questions/4_3.jpg'); }
.fourFour { background-image: url('/src/images/Questions/4_4.jpg'); }

.fiveOne { background-image: url('/src/images/Questions/5_1.jpg'); }
.fiveTwo { background-image: url('/src/images/Questions/5_2.jpg'); width: 170px;}
.fiveThree { background-image: url('/src/images/Questions/5_3.jpg'); height: 170px;}
.fiveFour { background-image: url('/src/images/Questions/5_4.jpg'); width: 170px;}

.sixOne { background-image: url('/src/images/Questions/6_1.jpg');width: 35vw; height:5vh; margin-left: 10%; margin-top: 10%;}
.sixTwo { background-image: url('/src/images/Questions/6_2.jpg'); width: 35vw; height:5vh; margin-left: 10%; margin-top: 15%;}
.sixThree { background-image: url('/src/images/Questions/6_3.jpg'); width: 35vw; height:5vh; margin-left: 10%; margin-top: 20%;}
.sixFour { background-image: url('/src/images/Questions/6_4.jpg'); width: 35vw; height:5vh; margin-left: 10%; margin-top: 30%;}
.sixFive { background-image: url('/src/images/Questions/6_5.jpg'); width: 35vw; height:5vh; margin-left: 10%; margin-top: 25%;}

.sevenOne { background-image: url('/src/images/Questions/7_1.jpg'); }
.sevenTwo { background-image: url('/src/images/Questions/7_2.jpg'); }
.sevenThree { background-image: url('/src/images/Questions/7_3.jpg'); }
.sevenFour { background-image: url('/src/images/Questions/7_4.jpg'); }

.heightOne { background-image: url('/src/images/Questions/8_1.jpg'); height: 170px;}
.heightTwo { background-image: url('/src/images/Questions/8_2.jpg'); }
.heightThree { background-image: url('/src/images/Questions/8_3.jpg'); height: 170px;}
.heightFour { background-image: url('/src/images/Questions/8_4.jpg'); }
.heightFive { background-image: url('/src/images/Questions/8_5.jpg'); }


.nineOne { background-image: url('/src/images/Questions/9_1.jpg'); height: 170px;}
.nineTwo { background-image: url('/src/images/Questions/9_2.jpg');  width: 250px;}
.nineThree { background-image: url('/src/images/Questions/9_3.jpg');  height: 170px;}
.nineFour { background-image: url('/src/images/Questions/9_4.jpg');  height: 170px;}
.nineFive { background-image: url('/src/images/Questions/9_5.jpg');  height: 170px;}


.tenOne { background-image: url('/src/images/Questions/10_1.jpg'); width: 170px;}
.tenTwo { background-image: url('/src/images/Questions/10_2.jpg'); }
.tenThree { background-image: url('/src/images/Questions/10_3.jpg'); }
.tenFour { background-image: url('/src/images/Questions/10_4.jpg'); }

.elevenOne { background-image: url('/src/images/Questions/11_1.jpg'); }
.elevenTwo { background-image: url('/src/images/Questions/11_2.jpg'); }
.elevenThree { background-image: url('/src/images/Questions/11_3.jpg'); }
.elevenFour { background-image: url('/src/images/Questions/11_4.jpg'); height: 200px;}

.twelveOne { background-image: url('/src/images/Questions/12_1.jpg'); }
.twelveTwo { background-image: url('/src/images/Questions/12_2.jpg'); }
.twelveThree { background-image: url('/src/images/Questions/12_3.jpg'); height: 170px; width: 150px;}
.twelveFour { background-image: url('/src/images/Questions/12_4.jpg'); height: 170px;}
.twelveFive { background-image: url('/src/images/Questions/12_5.jpg'); }

.twelveOne { background-image: url('/src/images/Questions/12_1.jpg'); }
.twelveTwo { background-image: url('/src/images/Questions/12_2.jpg'); }
.twelveThree { background-image: url('/src/images/Questions/12_3.jpg'); }
.twelveFour { background-image: url('/src/images/Questions/12_4.jpg'); }

.thirteenOne { background-image: url('/src/images/Questions/13_1.jpg'); height: 170px;}
.thirteenTwo { background-image: url('/src/images/Questions/13_2.jpg'); height: 170px;}
.thirteenThree { background-image: url('/src/images/Questions/13_3.jpg'); width: 170px;}
.thirteenFour { background-image: url('/src/images/Questions/13_4.jpg'); height: 150px; width: 170px;}