.Selection {
    width: 120px;
    height: 120px;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid white;
}

.Graines {
    background-color: white;
    margin-left: 22%;
    margin-top: 12%;
}

.Fleurs {
    background-image: url('/src/images/Questions/1/fleur.jpg');
    width:80px;
    margin-left: 5%;
    margin-top: 17%;
}

.Boutons {
    background-color: red;
    margin-left: 42%;
    margin-top: 30%;
}

.Concretions {
    background-color: green;
    margin-left: 55%;
    margin-top: 33%;
}